<section class="section background">
    <div class="section__title">Background</div>
    <div class="section__content">
        <p>
            I'm a Full Stack Developer & TechPreneur. I love building beautiful things for the web using mainly <strong>Javascript</strong> and <strong>Python</strong>.

        </p>
        <p>I graduated from
            <a class="underline-link" href="" target="_blank">Wenzhou University</a> in<strong> China</strong></p>

        <p>
            I recently fell in love of everything back-end, APIs and DevOps related.</p>

        <p>
            When I'm not near my Mac, I'm probably chilling, drinking beer or upcountry.
        </p>

        <!-- {% include employment-status.html %} -->
    </div>
</section>